overview { backdrop-color "#002b36"; }

layout {
    gaps 16
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
    focus-ring {
        width 6
        active-color "#2AA198"
        inactive-color "#073642"
    }
    border { off; }
    default-column-width { proportion 0.500000; }
    preset-column-widths {
        proportion 0.333330
        proportion 0.500000
        proportion 0.666670
    }
    center-focused-column "never"
    tab-indicator {
      	width 11
      	position "top"
      	corner-radius 11
        active-color "#2aa198"
        inactive-color "#586e75"
    }
    background-color "#002b36"
}
