overview { backdrop-color "#000000"; }

layout {
    gaps 16
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
    focus-ring {
        width 2
        active-gradient from="#00d9ff" to="#7b2ff7" angle=135
        inactive-gradient from="#1a1a2e" to="#3a3a5a" angle=135 relative-to="workspace-view"
        urgent-gradient from="#ff006e" to="#fb5607" angle=135
    }
    border { off; }
    default-column-width { proportion 0.500000; }
    preset-column-widths {
        proportion 0.333330
        proportion 0.500000
        proportion 0.666670
    }
    center-focused-column "never"
    tab-indicator {
      	width 11
      	position "top"
      	corner-radius 11
    }
    background-color "#000000"
}
