output "LG Electronics LG ULTRAGEAR 103NTNH5S287" {
    transform "normal"
    position x=0 y=0
    mode "2560x1440@143.973000"
}

output "PNP(BNQ) ZOWIE XL LCD 95L03173SL0" {
    transform "normal"
    position x=2560 y=0
    mode "1920x1080@144.001"
}
